.nav_bars {
  flex-direction: column;
  gap: 7px;
  padding: 10px;

  display: none;
  cursor: pointer;
}

.nav_bars span {
  width: 30px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 0 4px #fff, 0 0 40px var(--primary-color),
    0 0 80px var(--primary-color), 0 0 90px var(--primary-color);
}

@media (max-width: 600px) {
  .nav_bars {
    display: flex;
  }
}
