.nav_items {
  display: flex;
  gap: 4vw;
  font-size: 1.3vw;
  color: white;
}

.nav_items a:active {
  transform: scale(0.95);
}

.nav_item {
  cursor: pointer;

  width: fit-content;

  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    var(--primary-color) 90%,
    var(--primary-color) 100%
  );

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;

  padding-bottom: 10px;
  padding-right: 10px;
}

.nav_item:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

@media (max-width: 1400px) {
  .nav_items {
    font-size: 1.5vw;
  }
}

@media (max-width: 1000px) {
  .nav_items {
    font-size: 2vw;
  }
}

@media (max-width: 800px) {
  .nav_items {
    font-size: 3vw;
  }
}

@media (max-width: 600px) {
  .nav_items {
    visibility: hidden;
  }
}
